
<%- include('header') %>
<br>
<br>
<br>
<br>

<a href="/company/<%= comp.id %>/delete"><button class="button"> Töröl</button></a>

<form method="post" action="/company/<%=comp.id%>" id="edit-comp"">

  <div style="margin: 40px 3px 20px 0; ">
    <input style="font-weight: bold;" type="text" id="name" name="name" value="<%= comp.name %>">
    <button class="button button_new"  type="submit" form="edit-comp"  value="Submit" > Módosít</button>

  </div>

  <div style="font-size: larger;">
    <ul>
      <li>Székhely: <input type="text" name="seat" value="<%= comp.seat %>"> </li>
      <li>Cégjegyzékszám:  <input type="text" name="comp_num" value="<%= comp.comp_num %>"> </li>
      <li>Adószám: <input type="text" name="vat_number" value="<%= comp.vat_number %>">  </li>
      <li>Jutalék: <input type="text" name="commission" value="<%= comp.commission %>">  </li>
    </ul>
  </div>
</form>



