<%- include('header') %>

<form method="post" action="/job/1" id="edit-job"">
  <div style="margin: 40px 3px 20px 0; ">
    <input style="font-weight: bold;" type="text" id="name" name="name" value="<%= job.name %>">
    <button class="button button_new"  type="submit" form="edit-job"  value="Submit" > Módosít</button>
    <a data-method="delete" href="/job/<%= job.id %>/delete"><button class="button"> Töröl</button></a>

  </div>

  <div style="font-size: larger;">
    <ul>
      <li>Cég: <select name="company">

        <% companies.forEach(function (comp){ %>
          <option <%= comp.name==job.company ?'selected' :'' %>  value="<%= comp.name %>"> <%= comp.name %></option>
          <% }); %>

      
      </select> </li>
      <li>Munkavégzés helye: <input type="text" name="place" value="<%= job.place %>">  </li>
      <li>Bruttó órabér:  <input type="text" name="salary" value="<%= job.salary %>"> </li>
    </ul>
  </div>
</form>


